.header {
  align-items: center;
  display: flex;
  font-size: 1rem;
  left: 0;
  margin: 0;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.nav__banner img {
  height: 1.5rem;
}

.nav__chat {
  display: none;
}

@media (min-width: 992px) {
  .nav__chat {
    display: block;
  }
}

.nav__login {
  all: unset;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
