* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: pink;
}

/* 
  Header 
*/

.header {
  height: 100vh;
  background-color: #2e004b7e;
  position: relative;
  margin: 0;
  padding: 0;
}
