* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.container {
  margin: 0 auto;
  max-width: 540px;
  padding: 0 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.btn {
  background-color: transparent;
  border: 1px solid #00d363;
  border-radius: 2em;
  color: #00d363;
  font-size: 1rem;
  line-height: 1em;
  padding: 1em 1.5em;
}

.btn:hover {
  background-color: #00d363;
  color: white;
}
